<%
human = human ||
        [
            {
                company_name: '',
                firstName: '',
                lastName: '',
                company_website: '',
                twitter: '',
                facebook: '',
                linkedin: '',
                profile: ''
            }
        ];
%>
<div class="col-md-6 human" style="margin-bottom: 2em;">
    <div class="row">

        <div class="col-xs-6">
            <div class="embed-responsive embed-responsive-1x1">
                <div class="embed-responsive-item text-center">
                    <img src="<%= human.profile %>">
                </div>
            </div>
        </div>

        <div class="col-xs-6 info">
            <h4><%= human.firstName %> <%= human.lastName %></h4>
            <p class="title"><%= human.title %></p>
            <% if(human.company_name){ %>
            <p class="company">
                <% if(human.company_website){ %>
                <a class="text-grey" target="_blank"
                   href="<%= human.company_website %>"><%= human.company_name %></a>
                <% }else{ %>
                    <%= human.company_name %>
                <% } %>
            </p>
            <% } %>
            <p class="social">
                <% if(human.twitter){ %>
                <a target="_blank" href="https://twitter.com/<%= human.twitter %>">
                    <i class="fa fa-twitter"></i></a>
                <% } %>
                <% if(human.linkedin){ %>
                <a target="_blank"
                   href="https://www.linkedin.com/in/<%= human.linkedin %>">
                    <i class="fa fa-linkedin"></i></a>
                <% } %>
                <% if(human.facebook){ %>
                <a target="_blank"
                   href="https://www.facebook.com/<%= human.facebook %>">
                    <i class="fa fa-facebook-official"></i></a>
                <% } %>
            </p>
        </div>
    </div>
</div>