<%
human = human ||
        [
            {
                company_name: '',
                firstName: '',
                lastName: '',
                company_website: '',
                twitter: '',
                facebook: '',
                linkedin: '',
                profile: '',
                talk: false
            }
        ];
%>
<div class="col-md-6 human" style="margin-bottom: 2em;">
    <div class="row">

        <div class="col-xs-6">
            <div class="embed-responsive embed-responsive-1x1">
                <div class="embed-responsive-item text-center">
                    <img src="/images/layout/logo.png"
                         data-original="<%= human.profile ? human.profile : '/images/layout/logo.png' %>">
                </div>
            </div>
        </div>

        <div class="col-xs-6 info">
            <h4><%= human.firstName %> <%= human.lastName %></h4>
            <p class="title"><%= human.title %></p>
            <% if(human.companyName){ %>
            <p class="company">
                <% if(human.companyWebsite){ %>
                <a class="text-grey" target="_blank"
                   href="<%= human.companyWebsite %>"><%= human.companyName %></a>
                <% }else{ %>
                <%= human.companyName %>
                <% } %>
            </p>
            <% } %>
            <p class="social">
                <% if(human.twitter){ %>
                <a target="_blank" href="https://twitter.com/<%= human.twitter %>">
                    <i class="fa fa-twitter"></i></a>
                <% } %>
                <% if(human.linkedin){ %>
                <a target="_blank"
                   href="https://www.linkedin.com/in/<%= human.linkedin %>">
                    <i class="fa fa-linkedin"></i></a>
                <% } %>
                <% if(human.facebook){ %>
                <a target="_blank"
                   href="https://www.facebook.com/<%= human.facebook %>">
                    <i class="fa fa-facebook-official"></i></a>
                <% } %>
            </p>
            <% if(human.talk){ %>
            <p class="talk"><a target="_blank"
                  href="/talk/<%= human.talk.slug %>"><%= human.talk.title %></a></p>
            <% } %>
        </div>
    </div>
</div>