<% include ../partials/header.ejs %>
<%
organizers = organizers || [];
keynoteSpeaker = keynoteSpeaker || {};
panelists = panelists || [];
pages = pages || {about: {intro: ''}, tickets: {intro: ''}, speakers: {intro: ''}, sponsors: {intro: ''}};
sponsorLevels = sponsorLevels || [{title: '', sponsors: [{title: '', logo: ''}]}];
var sponsorSizes = {
    'Platinum': 'col-xs-12 col-sm-6',
    'Gold': 'col-xs-6 col-sm-4',
    'Bronze': 'col-xs-4 col-sm-3',
    'Friends of RevConf': 'col-xs-4 col-sm-3'
};
var humanIndex = 0;
%>
<div class="page-sections">

    <div class="section-wrapper section-home full-height">
        <div class="section-position"></div>
        <div class="section full-height">
            <div class="container-fluid">
                <h1 id="site-title-fit-text" class="league-gothic text-xs-center">REVCONF
                    <br class="visible-xs-inline">
                    <span class="divider">
                        <a class="btn-play pulse" href="https://www.youtube.com/watch?v=Z3V6N11bYoU" data-lity>
                            <i class="fa fa-play"></i>
                        </a>
                    </span> 2017
                </h1>
                <div class="row date-location">
                    <div class="col-sm-6 site-info date text-xs-center text-sm-right text-grey">
                        <strong>June 1-2</strong>
                    </div>
                    <div class="col-sm-6 site-info location text-xs-center text-sm-left">
                        <span><a href="https://www.wyndhamhotels.com/wyndham/virginia-beach-virginia/wyndham-virginia-beach-oceanfront/overview">Wyndham Oceanfront</a></span><br>
                        <span>Virginia Beach, VA</span>
                    </div>
                </div>
                <p class="slogan text-xs-center">
                    <br>
                    <em>
                        <span class="nobr">Join the Revolution:</span>
                        <span class="nobr">Uniting software professionals.</span>
                    </em>
                </p>
                <p class="text-xs-center">
                    <span style="display: inline-block; margin-top: 1em;">Tickets On Sale Now!</span><br><br>
                    <a href="http://tickets.revolutionconf.com"
                       class="btn btn-primary btn-lg"
                       style="margin-top: 0;">
                        <i class="fa fa-ticket" style="font-size: 110%;"></i>&ensp;Get
                        Your&nbsp;Ticket</a></p>
            </div>
        </div>
    </div>

    <div class="section-wrapper section-about">
        <div class="section-position" id="about"></div>
        <div class="section">
            <div class="container">
                <h2 class="league-gothic section-title">About</h2>
                <div class="intro-text">
                    <%- pages.about.intro %>
                </div>
                <h3 class="h2 league-gothic">Our Organizers</h3>
                <div class="organizers">
                    <div class="row">
                        <% humanIndex = 0; organizers.forEach(function(human) { %>
                        <%- include('../partials/human.ejs', {human: human}) %>
                        <% if(!(++humanIndex % 2)) { %>
                        <div class="clearfix"></div>
                        <% } %>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-wrapper section-tickets">
        <div class="section-position" id="tickets"></div>
        <div class="section">
            <div class="container">
                <h2 class="section-title league-gothic">Tickets</h2>
                <div class="intro-text">
                    <%- pages.tickets.intro %>
                </div>
                <p>
                    <a href="http://tickets.revolutionconf.com" class="btn btn-primary btn-lg"
                       target="_blank" style="margin-top: 0;">
                        <i class="fa fa-ticket"></i>&ensp;Get Your&nbsp;Ticket</a>
                </p>
            </div>
        </div>
    </div>

    <div class="section-wrapper section-speakers">
        <div class="section-position" id="speakers"></div>
        <div class="section">
            <div class="container">
                <h2 class="section-title league-gothic">Speakers</h2>
                <div class="intro-text">
                    <%- pages.speakers.intro %>
                </div>

                <h3 class="h1 league-gothic">Keynote Speaker</h3>
                <div class="keynote-speaker">

                    <div class="row">

                        <div class="col-xs-5 image">
                            <div class="embed-responsive embed-responsive-1x1">
                                <div class="embed-responsive-item text-center">
                                    <img src="/images/layout/logo.png"
                                         data-original="<%= keynoteSpeaker.profile ? keynoteSpeaker.profile : '/images/layout/logo.png' %>">
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-7 info">
                            <div class="info-wrap">
                                <h4><%= keynoteSpeaker.firstName %> <%= keynoteSpeaker.lastName %></h4>
                                <p class="title"><%= keynoteSpeaker.title %></p>
                                <% if(keynoteSpeaker.companyName){ %>
                                <p class="company">
                                    <% if(keynoteSpeaker.companyWebsite){ %>
                                    <a class="text-grey" target="_blank"
                                       href="<%= keynoteSpeaker.companyWebsite %>"><%= keynoteSpeaker.companyName %></a>
                                    <% }else{ %>
                                    <%= keynoteSpeaker.companyName %>
                                    <% } %>
                                </p>
                                <% } %>
                                <p class="social">
                                    <% if(keynoteSpeaker.twitter){ %>
                                    <a target="_blank" href="https://twitter.com/<%= keynoteSpeaker.twitter %>">
                                        <i class="fa fa-twitter"></i></a>
                                    <% } %>
                                    <% if(keynoteSpeaker.linkedin){ %>
                                    <a target="_blank"
                                       href="https://www.linkedin.com/in/<%= keynoteSpeaker.linkedin %>">
                                        <i class="fa fa-linkedin"></i></a>
                                    <% } %>
                                    <% if(keynoteSpeaker.facebook){ %>
                                    <a target="_blank"
                                       href="https://www.facebook.com/<%= keynoteSpeaker.facebook %>">
                                        <i class="fa fa-facebook-official"></i></a>
                                    <% } %>
                                </p>
                                <% if(keynoteSpeaker.talk){ %>
                                <div class="talk">
                                    <p class="title"><a href="/talk/<%= keynoteSpeaker.talk.slug %>">
                                            <i class="fa fa-bullhorn"></i> <%= keynoteSpeaker.talk.title %></a></p>
                                </div>
                                <% } %>
                                <% if(keynoteSpeaker.interview){ %>
                                <div class="interview">
                                    <p class="title"><a href="https://www.youtube.com/watch?v=<%= keynoteSpeaker.interview %>" data-lity>
                                            <i class="fa fa-play"></i> Interview</a></p>
                                </div>
                                <% } %>
                                <div class="bio">
                                    <%- keynoteSpeaker.bio %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="h1 league-gothic">Alumni Discussion Panel</h3>
                <div class="discussion-panel">
                    <div class="row">
                        <% humanIndex = 0; panelists.forEach(function (human) { %>
                        <%- include('../partials/human.ejs', {human: human}); %>
                        <% if(!(++humanIndex % 2)) { %>
                        <div class="clearfix"></div>
                        <% } %>
                        <% }); %>
                    </div>
                </div>

                <p><a href="/speakers" class="btn btn-primary btn-lg">View All Speakers</a></p>
            </div>
        </div>
    </div>

    <div class="section-wrapper section-sponsors">
        <div class="section-position" id="sponsors"></div>
        <div class="section">
            <div class="container">
                <h2 class="section-title league-gothic">Sponsors</h2>
                <div class="intro-text">
                    <%- pages.sponsors.intro %>
                </div>
                <div class="sponsors-list">
                    <% sponsorLevels.forEach(function(level) { %>
                    <% if (level.title && !level.sponsors.length) return; %>
                    <hr>
                    <div class="sponsor-level <%= level.title.toLowerCase().replace(/ /g, '-') %>">
                        <h3 class="level-title text-red te"><%= level.title %></h3>
                        <div class="row sponsors">
                            <% level.sponsors.forEach(function(sponsor) { %>
                            <div class="sponsor <%= sponsorSizes[level.title] %>">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <div class="embed-responsive-item">
                                        <a target="_blank" href="<%= sponsor.url %>" title="<%= sponsor.title %>">
                                            <span class="logo"><img src="<%= sponsor.logo %>"></span>
                                            <span class="title"><%= sponsor.title %></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <p><a target="_blank"
                      href="https://drive.google.com/open?id=0B0HrtfzUfLt6QjFVYW9VeV9vejQ"
                      outbound-track="" class="btn btn-primary btn-lg">Want to Sponsor?</a></p>
            </div>
        </div>
    </div>

    <div class="section-wrapper section-location">
        <div class="section-position" id="location"></div>
        <div class="section">
            <div class="container">
                <h2 class="section-title league-gothic">Location
                    <h2>Wyndham Virginia Beach Oceanfront</h2>
                    <h3><i class="fa fa-map-marker fa-fw text-red"></i> <a target="_blank"
                                                                           href="https://www.google.com/maps/dir/<%- pages.location.address.replace(/\s+/g, '+') %>"><%- pages.location.address %></a>
                    </h3>
                    <h3><i class="fa fa-phone fa-fw text-red"></i> <a target="_blank"
                                                                      href="tel://<%- pages.location.phone.replace(/[^\d]/g, '') %>"><%- pages.location.phone %></a>
                    </h3>
            </div>
            <div class="container-slider">
                <div class="slider">
                    <div class="images">
                        <img src="/images/layout/wyndham-background-low-res.png"
                             data-original="/images/layout/wyndham-background.png"
                             data-delay="5000"
                        ><img src="/images/layout/wyndham-background-low-res.png"
                              data-original="/images/layout/wyndham-background.png"
                              data-delay="5000"
                        >
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="intro-text">
                    <%- pages.location.intro %>
                </div>
            </div>
        </div>
    </div>

</div>

<% include ../partials/footer.ejs %>