<% include ../partials/header.ejs %>
<%
schedule = schedule || [];
%>
<div class="page-sections">

    <div class="section-wrapper section-speakers" id="schedule-app">
        <div class="section-position" id="schedule"></div>
        <div class="section">
            <div class="container">
                <h2 class="section-title league-gothic">Schedule</h2>
                <div class="intro-text">
                    <%- intro %>
                </div>
                <div class="schedule">
                    <% var lastTimeSlot = ''; var lastDaySlot = '';

                    schedule.forEach(event => { %>

                    <% if (lastTimeSlot !== event.timeSlot) { %>

                    <% if (lastTimeSlot) { %>
                    <%- '</div>' %>
                    <% } %>

                    <% if(lastDaySlot !== event.dateDay ){ %>
                    <h3><%- event.dateDay %></h3>
                    <% } lastDaySlot = event.dateDay; %>

                    <%-
                        '<div class="timeslot">' +
                        '<div class="line"></div>' +
                        '<h4 class="h3 times">' + event.startTime + ' - ' + event.endTime + '</h4>'
                        ; %>

                    <% } lastTimeSlot = event.timeSlot; %>

                    <div class="event <%= event.talk ? 'talk' : 'other' %>" id="<%= event.slug %>">

                        <% if(event.talk) { %>

                        <div class="manager">
                            <button class="btn btn-link unchecked heart" data-heart="<%- event.talk.slug %>"><i
                                        class="fa fa-heart"></i></button>
                            <button class="btn btn-link saving"><i class="fa fa-spinner fa-spin fa-fw"></i></button>
                        </div>

                        <h3 class="h4 title">
                            <a class="talk-link" target="_blank"
                               href="/talk/<%- event.talk.slug %>"><%- event.talk.title %></a>
                        </h3>

                        <p>
                            <span class="location"><%- event.location %></span>
                            <% if(event.talk.speaker) { %>
                            <span class="speaker">
                                    <a href="/speakers#<%- event.talk.speaker.slug %>"><%- event.talk.speaker.firstName + ' ' + event.talk.speaker.lastName %></a>
                                </span>
                            <% } %>
                        </p>

                        <% if( event.talk.summary ){ %>
                        <div class="summary" style="display: none">
                            <%- event.talk.summary; %>
                        </div>
                        <% } %>

                        <% }else{ %>

                        <h4 class="title">
                            <%- event.title %>
                        </h4>

                        <p>
                            <span class="location"><%- event.location %></span>
                        </p>

                        <% if( event.description ){ %>
                        <div class="description" style="display: none">
                            <%- event.description; %>
                        </div>
                        <% } %>

                        <% } %>

                    </div>

                    <% }); %>

                    <%- '</div>' // close out timeslot   %>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>